.mobile {
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: var(--cheaf-color);
		padding-top: 48px;
		padding-bottom: 48px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		overflow: auto;
	}
}
